@import "tailwindcss";

@font-face {
  font-family: "Anton";
  src: url(../assets/fonts/Anton-Regular.ttf);
}
@font-face {
  font-family: "Aeonik";
  src: url(../assets/fonts/AeonikTRIAL-Regular.otf);
}
/* @font-face {
  font-family: "Playfair";
  src: url(../assets/fonts/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
  font-family: "BebasNeue";
  src: url(../assets/fonts/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: "sacramento";
  src: url(../assets/fonts/Sacramento-Regular.ttf);
} */

.line {
  overflow: hidden;
}

.char {
  overflow: hidden;
}

.word {
  overflow: hidden;
}
