---
import Layout from '../layouts/Layout.astro';
import info from '../data/sample.json'
---
<Layout title="Contact With Ahmed">

  <div class=" px-4 py-10">
    <h1 class="text-9xl font-headline">
      <p>
        Ready to Start 
      </p>
      <p>
        Your Next Project?
      </p>
    </h1>
    <p class="w-1/4">Whether you're looking to build a new application from scratch, modernize an existing platform, or need ongoing development support, I'm here to help bring your vision to life.
</p>
  </div>
  
</Layout>