---
import Hello from '../components/Hello.jsx'
---

<html lang="en">
  <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.png" />
  <meta name="generator" content={Astro.generator} />
  <title>Ahmed Imran</title>
  </head>
  <body class="">
    
    <Hello name="ahmed" />
	<h2 class="bg-red-300">hey</h2>
  </body>
</html>
