---
import Layout from '../layouts/Layout.astro';
import info from '../data/sample.json'
import RefreshText from '../ui/RefreshText.astro';
// import RefreshText from '../ui/RefreshText';
---
<div class="bg-gray-400 flex flex-col items-center justify-center min-h-screen">

  <!-- <RefreshText  /> -->
   <h1 class="font-headline text-4xl">
     <RefreshText title="hell shit" />
     <RefreshText title="hell shit" />
     <RefreshText title="hell shit" />
     <RefreshText title="hell shit" />
   </h1>
</div>
  
