---
import info from '../data/sample.json'
import Link from './Link.astro'

---

<!-- Desktop Navigation -->
<ul class="hidden lg:flex lg:flex-col border-l ml-2 px-4 space-y-4 text-primary-500">
    {info.siteMap.map(page => (
    <li id="page-name" class="font-mainHead hover:text-primary-800 transition-colors hover:underline">
        <Link href={page.path}>{page.pageName}</Link>
    </li>
    ))}
</ul>