<!-- Hero Text -->
      <div class="absolute bottom-[20%] right-0 w-full lg:w-1/2 flex justify-center lg:justify-end px-4">
        <p id="hero" class="text-2xl sm:text-4xl md:text-5xl lg:text-7xl font-subhead cursor-default text-center lg:text-right leading-tight w-1/2 md:w-full">
          Your Vision. My Code. Exceptional Results.
        </p>
      </div>