---
import info from '../data/sample.json'
---

<!-- Info Bar -->
<div class="flex justify-between w-full text-xs sm:text-sm cursor-default ">
    <span id="span-hint" class="text-center">{info.location.city}</span>
    <p id="role" class="tracking-widest text-center px-2">{info.role}</p>
    <span id="span-hint" class="text-center">{info.birthYear}</span>
</div>