<div class="flex justify-between items-center w-full text-sm cursor-default">
          <span id="span-hint">{new Date().toLocaleTimeString('en-US',{
          hour: '2-digit',
          minute: '2-digit',
        })}</span>
        <span id="span-hint">{new Date().toLocaleDateString('en-US',{
          weekday: 'short',
          year: 'numeric',
          month: 'short',
          day: 'numeric'})}
        </span>
      </div>