---
const {title = `${info.name}`}=Astro.props
import info from "../data/sample.json"
import Footer from "../components/Footer.astro"
import Navbar from "./Navbar.astro"
import InfoSection from "./InfoSection.astro"
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="{Astro.generator}" />
    
    <!-- SEO Meta Tags -->
    <title>{title}</title>
    <meta
      name="description"
      content="Ahmed Omran's Portfolio - Front-End Developer specializing in HTML, CSS, JavaScript, and React. Check out my projects and contact me."
    />
    <meta
      name="keywords"
      content="Ahmed Omran, Frontend Developer, React, Next.js, JavaScript, TypeScript, Portfolio, 2ao1, ao, AO"
    />
    <meta name="author" content="Ahmed Omran" />

    <!-- Icons -->
    <link rel="icon" type="image/png" href="/favicon.png" />

    <link href="../styles/global.css" rel="stylesheet" />
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-G39QYJSQQB"
      ></script>
    <script defer>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            window.dataLayer.push(arguments);
        }
        gtag("js", new Date());
        gtag("config", "G-G39QYJSQQB");
    </script>
  </head>

  <body class="bg-primary-800 px-2">
    <div class="bg-secondary-200 rounded-3xl">
      <main class="bg-tertiary text-primary-800 rounded-b-3xl">
        <!-- Navbar -->
        <Navbar/>

        <slot />
      </main>

      <InfoSection/>
    </div>
    <Footer/>
</body>
</html>
